.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.modal
{
  margin : 20px 10px 20px 10px;
  padding : 10px;
  background: #0d130e;
  text-align : left;
  color : #eee;
}

.list{
  
  margin-top : 30px;
  text-align : left;
  padding-left : 20px;
  padding-right : 20px;
}

body{
  font-family : 'nanumsquare';

}

.black-nav{
  background: black;
  width : 100%;
  display : flex;
  color : white;
  padding : 20px;
  font-weight: 600;

}

.flex-center{
  display: flex;
  justify-content: center;

}
button:hover{
  color : white;
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div#right{

  background :chartreuse;
  color:black;
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
  justify-content: flex-start;
  
  margin: 10px;
  padding: 5px;
  align-items : baseline;

  border : 2px solid black;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link{
  color : white;
  border : 2px solid black;
}